
    body {
        font-family: Arial, sans-serif; margin: 0; padding: 0; 
        background-color: #FFFFFF;
    }

    .conteiner {
        padding: 10px;
    }

    h1{
        background-color: #f8f8f8;
        color: #000000;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    .secoes {  
        border: 1px solid black; 
        padding: 10px; 
        margin-bottom: 20px; 
        border-radius: 5px;
        background-color: #cbe6cc;
    }

    h2 { 
        margin-top: 0; 
        background-color: #45a049;
        border-radius: 5px;
    }
    
    .botao {
        color: #07c711;
        border: #07c711; 
        padding: 5px 20px; 
        cursor: pointer; 
        border-radius: 12px; 
        width: 200px;
        height: 50px;
    }

    .botao:hover { 
        background-color: #07c711; 
    }

    .secao__imagem {  
        border: 1px solid black; 
        padding: 10px; 
        margin-bottom: 20px; 
        border-radius: 5px;
        background-color: #cbe6cc;
    }

    .imagem__viveiro {
        border-radius: 6px;
        width: 10;
        height: 5px;
    }

    .large-button {
        padding: 12px 70px;
        font-size: 16px;
        border-radius: 10px;
        border: 2px solid black;
        background-color: pink;
    }